.loadMore {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.loadMore:hover {
  background-color: #008cff;
}